@tailwind base;
@tailwind components;
@tailwind utilities;

.accent {
  @apply text-[#ff616c];
}

.glass {
  @apply !bg-white/5 !backdrop-blur-md !border !border-gray-400/25;
}

.bg {
  background-image: url('./_assets/images1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
